body{
    background-color: black;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    line-height: 70px;
    text-shadow: 5px 5px 8px grey;
    animation-name: title;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

 @keyframes title{
    1%{
 
        color: green;
        font-size: 70px;
    }
    50%{

        color: red;
        font-size: 80px;
    }

    100%{
        color: yellow;
        font-size: 70px;
    } 

}


.walk{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    line-height: 70px;
    text-shadow: 1px 5px 5px grey;
    animation-name: walk;
    animation-duration: 2s;
    animation-iteration-count: infinite;   
}


@keyframes walk{
    1%{

        color: green;
        font-size: 70px;
    }
    50%{

        color: red;
        font-size: 80px;
    }

    100%{
        color: yellow;
        font-size: 70px;
    } 

}


.error{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    line-height: 70px;
    text-shadow: 1px 5px 5px grey;
    animation-name: error;
    animation-duration: 2s;
    animation-iteration-count: infinite;   
}

@keyframes error{
    1%{

        font-size: 50px;
    }

    50%{

        color: green;
        font-size: 70px;
    }
    100%{
  
        color: red;
        font-size: 50px;
    }

}


.errorwalk{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    line-height: 70px;
    text-shadow: 1px 5px 5px grey;
    animation-name: errorwalk;
    animation-duration: 2s;
    animation-iteration-count: infinite;      
}

@keyframes errorwalk{
    1%{

        font-size: 70px;
    }

    50%{

        color: red;
        font-size: 50px;
    }
    100%{

        color: green;
        font-size: 70px;
    }

}